.InterviewPage {
  position:relative;
  width:640px;
  min-height:500px;
  margin:0px auto;

  .footer {
    position:absolute;
    bottom:130px;
    width:640px;
  }

  .timer {
    margin-left:-43px;
    padding-top:100px;
    padding-bottom:20px;
    text-align:center;
  }

  button {
    float:right;
  }
}
