@import 'media';
@import 'mixin';
@import 'colors';

@media #{$desktop}
{
    .page {

    }

    .toolbar {
        @include flexbox(row, nowrap, space-between, center);
    }
    .count {
        font-size: 22px;
    }
    .start {
        cursor: pointer;

        padding: 12px 16px;
        font-size: 18px;

        color: white;
        border-radius: 3px;
        background-color: $blue600;
    }
    .start[disabled] {
        cursor: default;
        background-color: #E0E0E0;
    }

    .content {

    }
    .item {
        padding: 16px 12px;
        border-bottom: 1px solid #EEEEEE;
        &:last-child { border-bottom: none; }
    }
    .question {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .remove {
        cursor: pointer;

        width: fit-content;
        padding: 8px 12px 8px 8px;

        color: $blue600;
        border-radius: 3px;
        @include flexbox(row, nowrap, flex-start, center);

        &:hover {
            color: white;
            background-color: $blue500;
        }

        i { font-size: 20px; }
        span {
            margin-left: 4px;
            font-size: 16px;
        }
    }
}
