@import 'index';

$accent_red: #EC407A;

.AppBar {
    width: 100%;

    color: #424242;
    background-color: #F5F5F5;

    > .content { height: 100%; }
}

@media #{$desktop}
{
    .AppBar {
        height: 72px;
    }

    .AppBar > .content
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        a {
            height: 100%;
            padding: 0px 16px;
            position: relative;
            
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            font-weight: 400;
            font-size: 28px;
            font-family: 'Montserrat';
        }
        a:after {
            content: '';
            display: block;
            width: 100%;

            left: 0px;
            bottom: 0px;
            position: absolute;
            background-color: $accent_red;

            height: 0px;
            transition: height 150ms ease-out;
        }
        a:hover:after { height: 3px; }

        a.login {
            width: 152px;
            height: 36px;
            margin: 0px 16px 0px auto;

            border-radius: 3px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('../static/login_normal.png');

            &:active { background-image: url('../static/login_down.png'); }
            &:hover:after { height: 0px; }
        }
    }

    .AppBar .profile
    {
        width: 120px;
        position: relative;

        .name {
            position: relative;
            top: 4px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            cursor: pointer;
            * {
                $size: 24px;
                height: $size;
                line-height: $size;
            }
        }
        
        .menu {
            display: none;
            width: 100%;

            top: 32px;
            position: absolute;

            padding: 6px 0px;

            border-radius: 5px;
            border: 1px solid #EEEEEE;
            background-color: white;

            li {
                height: 32px;
                cursor: pointer;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                transition: all 100ms ease-out;
            }

            li.logout:hover {
                color: white;
                background-color: #ef5350;
            }
        }
        .menu.show { display: block; }
    }
}
