.Sidebar {
  display:table-cell;
  width:185px;
  padding:5px;
  height:100%;
  background-color:#F06292;
  color:white;

  .logo {
    margin-top:5px;
    text-align:center;
    font:40px 'Roboto';
  }

  ul {
    margin-top:30px;
  }

  a {
    li {
      width:100%;
      margin-top:8px; margin-bottom:8px;
      padding:8px 3px;
      border-radius:3px;

      .material-icons {
        display:inline-block;
        width:30px;
        margin-right:4px;
        vertical-align:middle;
      }

      label {
        display:inline-block;
        line-height:24px;
        vertical-align:middle;
      }
    }

    &.active {
      li {
        background-color:#EC407A;
      }
    }
  }
}
