@import 'media';
@import 'mixin';

@media #{$desktop}
{
    .dashboard {
        width: 100%;
        height: 100vh;

        @include flexbox(row, nowrap, flex-start, flex-start);
    }

    .side {
        width: 260px;
        min-width: 260px;
        height: 100%;
    }

    .main {
        flex-grow: 1;
        height: 100%;

        > * {
            width: 100%;
            padding: 0px 40px;
        }
        @include flexbox(column, nowrap, flex-start, flex-start);
    }
    .appbar {
        height: 100px;
        margin-bottom: 40px;
        border-bottom: 1px solid #EEEEEE;
    }
    .content {
        flex: 1;
        height: 0px;
        overflow: auto;
    }
}
