@import 'media';
@import 'mixin';

@media #{$desktop}
{
    .appbar {
        width: 100%;
        height: 100%;
        @include flexbox(row, nowrap, space-between, center);
    }

    h3 {
        top: 8px;
        position: relative;

        font-size: 26px;
        font-weight: 400;
    }

    .profile {
        top: 12px;
        position: relative;

        width: 160px;
        font-size: 18px;
        font-weight: 600;
    }

    .name {
        cursor: pointer;
        @include flexbox(row, nowrap, center, center);
    }

    .menu {
        position: absolute;
        top: 12px;
        left: 0px;
        width: 100%;

        padding: 8px 0px;
        border-radius: 3px;
        border: 1px solid #EEEEEE;
        background-color: #FAFAFA;

        li {
            cursor: pointer;
            padding: 8px 16px;
        }
    }
    .hide { display: none; }

    .logout {
        transition: all 100ms ease-out;

        &:hover {
            color: white;
            background-color: #ef5350;
        }
    }
}

// .AppBar {
//   width:100%;
//   height:70px;
//   padding:15px 20px;
//   border-bottom:1px #ddd solid;

//   .header {
//     display:inline-block;
//     height:40px;
//     line-height:40px;
//   }

//   .login {
//     background-color:#FFB300;
//     border-radius:3px;
//     height:40px;
//     padding:12px 15px;
//     float:right;
//     color:white;
//     font-size:14px;
//     cursor:pointer;
//   }
// }

/*
    width: 100%;

    color: #424242;
    background-color: #F5F5F5;

    > .content { height: 100%; }
}

{
    .AppBar {
        height: 72px;
    }

    .AppBar > .content
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        a {
            height: 100%;
            padding: 0px 16px;
            position: relative;
            
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            font-weight: 400;
            font-size: 28px;
            font-family: 'Montserrat';
        }
        a:after {
            content: '';
            display: block;
            width: 100%;

            left: 0px;
            bottom: 0px;
            position: absolute;
            background-color: $accent_red;

            height: 0px;
            transition: height 150ms ease-out;
        }
        a:hover:after { height: 3px; }

        a.login {
            width: 152px;
            height: 36px;
            margin: 0px 16px 0px auto;

            border-radius: 3px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('../static/login_normal.png');

            &:active { background-image: url('../static/login_down.png'); }
            &:hover:after { height: 0px; }
        }
    }

    .AppBar .profile
    {
        width: 120px;
        position: relative;

        .name {
            position: relative;
            top: 4px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            cursor: pointer;
            * {
                $size: 24px;
                height: $size;
                line-height: $size;
            }
        }
        
        .menu {
            display: none;
            width: 100%;

            top: 32px;
            position: absolute;

            padding: 6px 0px;

            border-radius: 5px;
            border: 1px solid #EEEEEE;
            background-color: white;

            li {
                height: 32px;
                cursor: pointer;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                transition: all 100ms ease-out;
            }

            li.logout:hover {
                color: white;
                background-color: #ef5350;
            }
        &:active {
            background-image: url('../static/login_down.png');
        }
        .menu.show { display: block; }
    }
}
*/
