
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body, * {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', 'Montserrat', 'Arial', sans-serif;
}

a { text-decoration: none; }
a:visited { color: inherit; }
