@import 'media';
@import 'mixin';

$accent : #43A047;

@media #{$desktop}
{
    .app {
        width: 100%;
        height: 100vh;
        @include flexbox(row, nowrap, flex-start, flex-start);
    }
}
