@import 'media';
@import 'mixin';
@import 'colors';

@media #{$desktop}
{
    .form {
        min-width: 100%;
        @include flexbox(column, nowrap, flex-start, flex-start);
    }

    .toolbar {
        min-width: inherit;
        margin-bottom: 16px;

        @include flexbox(row, nowrap, space-between, center);
    }
    .label {
        color: #424242;
        padding-left: 4px;

        font-size: 22px;
    }
    .clear {
        cursor: pointer;
        font-size: 28px;

        color: #757575;
        &:hover { color: #e53935; }
    }

    .question {
        outline: none;
        min-width: inherit;

        padding: 16px;
        margin-bottom: 12px;

        font-size: 20px;

        box-sizing: border-box;
        border-radius: 8px;
        border: 1px solid #BDBDBD;
        &:focus { border-color: $blue700; }
    }

    .category {
        outline: none;
        min-width: inherit;
        padding: 8px 12px;

        font-size: 18px;
        color: $blue700;

        border: none;
        border-left: 2px solid #BDBDBD;
        &:focus { border-color: $blue600; }
    }
}
